# fly.toml app configuration file
app = 'image-optimizer-still-flower-1282'
primary_region = 'iad'

[build]

[env]
  PORT = "8080"
  OTA_RELEASES_DIR = "/app/releases"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpus = 1
